/* p.error {
    color: crimson;
}
p.success {
    color: greenyellow;
}
p.success.feedback {
    border: 1px dashed green;
}
div#content {
    background-color: #ebebeb;
    padding: 20px;
} */


/* div .error {
    color: crimson;
} */

/* a[href="https://www.google.com"] {
    background-color: crimson;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */
/* a[href$=".com"] {           
    background-color: crimson;
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
} */

div {
    color: cornflowerblue;
    border: 1px solid grey;
}
div p {
    border: inherit;
    color: lightpink;
}
p {
    color: orange;
}